@import "bootstrap-sprockets";
@import "bootstrap";
@import "posts.scss";
@import "gritter";
@import "bourbon";
@import "admin_homepage";
@import "employee_homepage";

body {
  // background-color: #eee;
}

.custom-nav {
  margin-top: 15px;
}

.main-row {
  background-color: white;
  padding-bottom: 10px;
}

.jumbotron {
  margin-top: 10px;
}
